
/checkpoints
/data
/dataset/__pycache__
/model/__pycache__
/utils/__pycache__
evaluation.log
/.vscode
/results
evaluation_baseline.log
evaluation_customgen.log
notepad.txt
/data_isharah
/data_isharah_padded
